body {
  background: #000005;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
  border-radius: 4px;
  color: var(--text-h);
  display: inline-flex;
}